body {
  margin: 0;
  font-family: Verdana, sans-serif;
  color: black;
  background-color: cornsilk;
}

.wrapper {
  display: grid;
}

header {
  display: grid;
  grid-template-columns: 2fr 4fr;
  grid-template-rows: 2fr 2fr;
  grid-template-areas: "logo title "
                       "logo contact";
  justify-self: center;
  grid-column-gap: 5px;
  width: 1024px;
  background-color:#7F7667;
}

.logo {
  grid-area: logo;
  justify-self: center;
  align-self: center;
  margin: 10px;
  width: 250px;
  height: 250px;
  border-radius: 50%;
  border: 2px solid silver;
}

.logo img {
  width: 250px;
  height: 250px;
  border-radius: 50%;
}

.header-title {
  grid-area: title;
  align-self: center;
  padding: 20px;
  box-sizing: border-box;
  text-transform: uppercase;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
  background-color: #CCA668;

}

.header-contact {
  grid-area: contact;
  padding: 20px;
  margin-bottom: 15px;
  font-size: 14pt;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
  background-color: #CCA668;

}

.header-contact li {
  display: inline-block;
  padding-left: 10px;
  padding-top: 5px;
  padding-right: 10px;
  padding-bottom: 5px;
  margin-left: 2px;
  border-radius: 30px;
  background-color: #7F7667;
}

.header-contact li:hover {
  background-color: darkgray;
  transition: 1s;
}

.header-contact a {
  color:  black;
  transition: 0.3s;
}

.header-contact a:active {
  color:  blue;
  transition: 0.3s;
}


.container {
  display: grid;
  width: 1024px;
  grid-template-rows: repeat(6, 0.6fr);
  grid-template-areas:  "about" 
                        "skills" 
                        "code" 
                        "expiriens" 
                        "education" 
                        "english";
  justify-self: center;
  box-sizing: border-box;
  padding-top: 20px;
  padding-left: 50px;
  padding-bottom: 20px;
  font-size: 20px;
  border-left:2px solid #B29050;
  border-right:2px solid #B29050;
  background-color: #7F6741;

}



.container section:nth-child(2n) {
  padding-left: 50px;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
  border-right:1px solid #B29050;
  background-color: #CCA668;
}

.about {
  grid-area: about;
}

.skils {
  grid-area: skills;
}

.code {
  grid-area: code;
}

.expiriens {
  grid-area: expiriens;
}

.education {
  grid-area: education;
}

.english {
  grid-area: english;
  height: 150px;
}

.footer {
  display: grid;
  justify-items: center;
  width: 1024px;
  height: 45px;
  justify-self: center;
  align-items: center;
  background-color: #7F7667;
}  
